
<template>
    <div id='app'>
    <h1>Boodschappen Test!</h1>     
          <table>  
        <thead>
                <tr>
                    <th>Naam</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="grocery in getGrocery">
                    <td> {{ grocery.name }} </td>
                    <input type="number" v-model="grocery.quantity"/>
                    <td> {{ grocery.cost }}</td>
                    <td> {{ grocery.cost * grocery.quantity }}</td>
                </tr>
            </tbody>
            
              <td colspan="4">Total: {{totalAll}}</td>
    </table> 
    </div>  
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: "Boodschap",
    computed: {
    ...mapGetters(['getGrocery','totalAll' ])
    }
};
</script>