<template>
    <Boodschap title="Vuex">
    </Boodschap>
</template>

<script>
import Boodschap from './components/Boodschap.vue'

export default {
  components: {Boodschap}, 
  
}
</script>
<style>
table,th,td {
  border: 1px solid black;
}
</style>
